div{
    /*边框*/
    border: 1px solid #dddddd;
    /*宽度*/
    width: 300px;
    /*将标题和段落紧邻*/
    margin: 0px;
    /*内边距*/
    padding: 0px;
    /*h1居中*/
    h1{
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding: 5px;
        /*背景图片*/
        background-image: url(./images/topbg.jpg);

        /*字体颜色*/
        color: green;
        /*字体大小*/
        font-size: 20px;
        /*字体族*/
        font-family: "仿宋";

    }
        p{
            /*在段落开始之前加上一个箭头符号*/
            padding-left: 20px;
            color: #676767;
            height:20px;
            font-size: 10px;
            vertical-align: middle;
            background:url(./images/arrow2.gif) no-repeat;
            background-position: 10px ;
        }
}