.box{
    width: 530px;
    height: auto;
    border: 10px white solid;
    background-color: #aad9f7;
    margin-top: 70px;
    padding: 30px;
    text-align: right;
    h1{
        
        color:#356da0;
        margin: auto;
        font-size: 50px;
        font-style: italic;
        font-family: "仿宋";
    }
}
body{
    background-color: #4fb3e7;
}